[2020-03-05 22:02] chaws opened #4 "Cache objects"
Create a cache mechanism: sometimes same objects are requested over and over, where instead they could be stored in memory, that'd save up a few HTTP requests

[2020-03-05 22:04] chaws opened #5 "Use squad-client to retrieve tests of builds"
I think we can improve [this](https://github.com/Linaro/squad/issues/634) by using the same approach that was used to improve performance of finding regressions and fixes. Instead of querying all tests of a given testrun, maybe we can pass up to 200 testruns at at time to reduce trips to the api.

[2020-03-06 11:54] chaws opened #7 "Improve testing"
Right now, I'm running squad-client against a local squad instance. Plan is to fireup a testing squad instance, fill it up with some data and then test squad-client itself.

[2020-03-06 14:02] mwasilew opened #8 "YAML missing when installing in local venv"
Steps to reproduce:
 - clone the repository
 - create virtualenv
```virtualenv -p python3 venv```
 - activate venv
```source venv/bin/activate```
 - install squad-client
```python setup.py install```
 - run ```manage.py```

[code]

[2020-03-06 14:41] chaws commented on #8
Good catch, I added that in Dockerfile, but didn't add to requirements.txt

[2020-03-16 15:18] chaws opened #15 "Submit results"
So far squad-client only fetches data from a squad instance. This issue is about using the submit api to push results to squad.

Asked by @danrue

[2020-03-19 14:46] chaws opened #19 "Handle AWS ELB 502s"
It's known that calls to [staging-]qa-reports randomly returns 502.

Until we don't figure it out on qa-reports side, let's try to handle that in squad-client.

More reading to do at: https://www.reddit.com/r/aws/comments/9wcgqi/what_could_cause_502_errors_in_our_load_balancer/

[2020-03-19 14:48] chaws commented on #19
More info: https://forums.aws.amazon.com/thread.jspa?messageID=584535

[2020-03-19 14:52] chaws commented on #19
Here is an example of a bad request generated by ELB:
[code]

Request headers:
[code]

Here's the javascript snippet that can reroduce that:
[code]

[2020-03-19 14:59] chaws opened #20 "Fetch TestRun status from nested endpoint"
After PR https://github.com/Linaro/squad/pull/666 lands in SQUAD and gets rolled out, we should make squad client use that nested endpoint instead of calculating it manually.

[2020-03-20 12:45] chaws opened #22 "write docs"
Create a read-the-docs type of thing to allow squad-client have user and developer docs

[2020-03-30 18:40] jscook2345 opened #24 "Fix the import paths for some docs and examples"
Some of the docs and examples have incorrect import paths (missing `core`).

I have a pull request incoming that will fix this.

Thanks!

[2020-03-31 07:45] #24 closed

[2020-04-07 12:49] chaws opened #26 "reports: use important metadata to display metadata fields"
Extracted from Milosz's comment on https://github.com/Linaro/squad-client/pull/23

[2020-04-07 12:49] chaws commented on #8
Closed in https://github.com/Linaro/squad-client/pull/21

[2020-04-07 12:49] #8 closed

[2020-04-07 12:50] chaws commented on #7
Closed in https://github.com/Linaro/squad-client/pull/21

[2020-04-07 12:50] #7 closed

[2020-04-09 17:54] chaws commented on #15
Closed in https://github.com/Linaro/squad-client/pull/28

[2020-04-09 17:54] #15 closed

[2020-04-09 21:45] chaws commented on #20
It's merged now, working just fine: https://staging-qa-reports.linaro.org/api/testruns/1/status/

[2020-04-09 21:45] chaws commented on #20
https://staging-qa-reports.linaro.org/api/testruns/1/status/?suite__isnull=true gives the overall testrun status

[2020-04-16 08:08] #20 closed

[2020-04-22 02:18] jscook2345 opened #35 "models.py#testjobs does not work with __fetch__ because the TestJob class does not have an id field"
see here:

https://github.com/Linaro/squad-client/blob/master/squad_client/core/models.py#L44

This means that when you query for jobs you get random UUIDs instead of job ids.

The API defines `job_id` and that likely should be the key used instead. I'm not sure how best to do that. Fix the `squad` api or try and define `id` for the `TestJob` class.

ex:

[code]

[2020-04-22 19:49] jscook2345 commented on #35
`job_id` probably does not work here since it seems to map to `lava`. I see that the API is returning some sort of ID.

ex:

https://qa-reports.linaro.org/api/testjobs/2714861/

[2020-04-22 20:21] jscook2345 opened #36 "inconsistent fetch of extra data in models.py#TestRun::__setattr__"
I noticed a bunch of extra http GETs in the debug log when I was calling `Squad().testruns()`.

I see in the code we specifically are fetching it during attribute set here:
https://github.com/Linaro/squad-client/blob/131a7650795cf9b98e9eeb7118425433f7bc88d9/squad_client/core/models.py#L339

Why are we fetching the environment data each time we build a `TestRun` object? That seems to be the only ti

[2020-04-23 11:32] mwasilew commented on #35
@jscook2345 job_id can't be a key as it's not unique. Different LAVA instances (backends in SQUAD naming convention) will produce the same job IDs. Beside that there is a chance some other backends are in use. This is why there is an unique ID for each TestRun object. Proper fix for this:
https://github.com/Linaro/squad/pull/703
Temporarily ID can be retrieved from url field, but I don't think it'

[2020-04-24 14:17] jscook2345 commented on #35
Once I see some jobs with the new ID field I'll follow-up here.

[2020-04-28 05:06] jscook2345 opened #37 "Preferred method for accessing file contents?"
Some of the endpoints have URLs to files that contain useful data.

Example:

https://qa-reports.linaro.org/api/testruns/2553981/metadata_file/

What is the preferred method of using the `squad-client` library to access the contents of that file?

[2020-04-28 16:38] jscook2345 opened #38 "Best way to get the previous build?"
I see that there is a `status` assigned to a build (ex: https://qa-reports.linaro.org/api/builds/35450/status/), but it does not list what the previous build was. I think that should potentially be included.

[2020-04-28 16:41] jscook2345 commented on #36
Related: https://github.com/Linaro/squad/issues/704

[2020-04-28 16:43] mwasilew commented on #38
Sounds good. It makes sense to point to the 'baseline' build in case we delete something in the future. This should go to squad, not client.

[2020-04-28 17:22] jscook2345 commented on #38
https://github.com/Linaro/squad/issues/708

[2020-04-28 17:22] #38 closed

[2020-04-28 19:06] jscook2345 commented on #4
@danrue had suggested using `requests_cache`. It's not the best caching library, but it might help for more rapid development and testing.

[2020-04-30 18:50] jscook2345 opened #39 "Cannot get a single suite"
Currently the only method to get a suite is to query all the suites with some filters. That ends up a little messy.

[code]

If https://github.com/Linaro/squad/issues/699 was fixed this would 'simplify' to:

[code]

We could, instead, add `suite` method to the `Project` object to clean this up a bit.

[code]

What do you think?

[2020-05-01 21:36] jscook2345 opened #40 "json embedded in json is not working with json.loads"
Here is the json I'm grabbing, which includes a `log` field that appears to have additional json.

https://qa-reports.linaro.org/api/testruns/2554178/tests_file/

What seems to be happening is when that string is loaded via `json.loads` quotes and other whitespace items are converted?

Here is an example of what I'm doing:

[code]

Notice how all the escape characters are gone and there are a bunc

[2020-05-01 21:36] jscook2345 commented on #37
I'm using the `SquadApi` in the following manner currently:

[code]

[2020-05-01 21:55] jscook2345 commented on #40
Leave this alone for a bit until I get my head around it. Thanks!

[2020-05-06 15:40] jscook2345 commented on #37
I swapped to using the following, which is similar:

[code]

[2020-05-06 15:40] jscook2345 commented on #37
I think a helper that can provide this would be useful. What do you think?

[2020-05-06 15:50] jscook2345 commented on #40
This was actually caused by inconsistent data. See https://github.com/Linaro/squad/issues/719.

[2020-05-06 15:50] #40 closed

[2020-05-12 00:37] jscook2345 commented on #4
@chaws @mwasilew

This would be nice for me as well with building and testing our new reports. I think this should be a higher priority item.

[2020-05-12 14:04] chaws commented on #39
@jscook2345 I just opened a PR to add that, but didn't implement yet `tests()`, method. It turns out that filtering tests by suite in production times out. I already know a way to fix it, will do that later this week in squad

[2020-05-12 14:08] chaws commented on #39
Issue opened: https://github.com/Linaro/squad/issues/727

[2020-05-14 19:14] chaws commented on #4
Hi @jscook2345 I think we can give it a shot with [KissCache](https://git.lavasoftware.org/ivoire/kisscache). It seems it's easy to get up and running. I'll come up with a WIP next week

Self reminder: all requests in squad-client pass through https://github.com/Linaro/squad-client/blob/master/squad_client/core/api.py#L86

[2020-05-14 19:31] chaws commented on #36
Sorry for delay. The answer is that I made a small workaround when fetching TestRun objects: https://github.com/Linaro/squad-client/blob/master/squad_client/core/models.py#L340

I wanted to make a more generic `__setattr__` to fetch nested objects automagically, but was afraid of hitting a recursion condition.

[2020-05-14 19:39] chaws commented on #35
Hey @jscook2345 , https://github.com/Linaro/squad/pull/703 is merged and already in production.

[code]

I'm closing this now, please re-open it if you need extra features.

[2020-05-14 19:39] #35 closed

[2020-05-14 21:56] danrue commented on #4
kiss cache seems pretty heavy weight for this use-case. Some local caching mechanism is all that is needed. As you say, all requests pass through the same point so I'm not sure why we would add a django/celery/postgres service just for that. And it would just move the http request from one django app to a different django app. We need in memory and/or local caching (like to a sqlite db or similar)

[2020-05-15 08:01] mwasilew commented on #4
I don't think KissCache is fit for the job. It's main goal is to reduce amount of downloaded data when we use large files that don't change. This is pretty much opposite of what SQUAD API produces. We generate small files that change often. So IMHO KissCache is just not going to help. We need much smarter caching on both server and client side.

[2020-05-18 03:44] jscook2345 commented on #35
Thanks @chaws !

[2020-05-18 19:38] #39 closed

[2020-05-19 11:35] #4 closed

[2020-05-21 18:06] chaws commented on #4
@jscook2345 I did it using what you suggested. It's now accepting a `--cache N` argument that caches urls for N seconds.

[2020-05-26 01:44] amrohassaan opened #45 "Add a shortcut function to report on regressions"
Once we have [test comparison exposed via api](https://github.com/Linaro/squad/issues/739) in squad, a shortcut should be added here for producing regression reports.

[2020-05-29 22:04] chaws commented on #39
@jscook2345

Just fyi `suite.tests()` will be available after https://github.com/Linaro/squad-client/pull/46

[2020-06-14 22:38] jscook2345 opened #51 "builds are finished, runs are completed"
In `README.md`:

[code]

This should be `finished`, however. Builds have a `finished` attribute, `TestRun`s have a `completed` attribute.

[2020-06-15 02:59] jscook2345 opened #53 "Could not get list of finished builds"
The following example was pulling all builds, not just builds with `finished: true` like I expected.

[code]

[2020-06-15 08:25] mwasilew commented on #53
This is going to be tricky. 'finished' is not a db field but a function. I'm not sure how to enable filtering using this property.

[2020-06-15 08:26] #51 closed

[2020-06-15 20:23] jscook2345 opened #54 "submit metadata for a build"
Given our current process of using `squad-client` as our API and `squad` as our data store for generating reports, we were curious if we could add metadata to a build in `squad` using `squad-client`.

As an example:
Last night we generated a report for build XYZ. The next night, if there are no new builds, we do not want to generate a report for XYZ again.

It would be nice if we could add custom

[2020-06-16 07:55] mwasilew commented on #54
@jscook2345 this is a bit tricky. Metadata is (sort of) immutable. It is uploaded with test results and stored in TestRun object. Then when you request Build metadata it's union of all metadata from TestRuns belonging to this build. So the easiest solution would be to upload 'empty' TestRun with only metadata. I don't think it would work right now.

Alternative is to use one of the existing fields

[2020-06-17 14:21] jscook2345 commented on #54
Well, we would potentially send many reports based on one build so only having a single field would not work for us.

We could keep the status in aws in dynamo, but we were thinking about keeping all the 'state' in squad.

What do you think a good option for this would be?

@chaws @danrue @mwasilew ?

[2020-06-17 20:07] chaws commented on #54
Currently we have DelayedReports for builds: https://qa-reports.linaro.org/api/reports. But these get deleted after one day.

Perhaps reports could be pushed to squad and marked not to be removed?

What do you think @mwasilew ?

[2020-06-18 07:50] mwasilew commented on #54
@chaws this can be done right now (I think). There is a TTL field (data_retention_days) in DelayedReport. We can assign 0 'do not remove' meaning. Also viewset needs to be changed to rw (it's ro right now). So the changes are minimal from squad perspective.

The downside of this solution is what I would call lack of transparency. Uploading multiple reports for the same build might be confusing for

[2020-06-19 16:20] jscook2345 commented on #54
After hearing your thoughts I think it may be better if we just integrate our own small database into things so we can track reports sent out ourselves. Thanks for the feedback!

[2020-06-19 16:20] #54 closed

[2020-06-20 03:41] danrue opened #56 "Compare view times out"
The following URL seems to break qa-reports.linaro.org (504 timeout followed by all qa-reports requests timing out for a minute or two):

https://qa-reports.linaro.org/_/comparetest/?project=34&project=22&project=6&project=58&project=135&project=40&project=23&project=232&project=310&suite=ltp-syscalls-tests&test=syslog07

Reducing the load a bit, even the following no longer actually loads:

https

[2020-06-22 08:02] mwasilew commented on #56
@danrue This is know issue. It was reported around 2 weeks ago on IRC but I can't find a ticket for it in squad. We'll take a look.

[2020-06-22 14:27] chaws commented on #53
@jscook2345 you could get that with:

[code]

[2020-06-24 03:29] jscook2345 commented on #53
Hey that does work! So does project.builds! Let me update the README!

[2020-06-24 03:29] #53 closed

[2020-06-24 13:24] mwasilew commented on #56
@danrue this https://qa-reports.linaro.org/_/comparetest/?project=232&project=310&suite=ltp-syscalls-tests&test=syslog07 works for me, but the response happens in ~50 seconds. So it's very close to timing out. I'll keep this ticket open as I don't think we have a proper solution.

[2020-06-25 01:08] jscook2345 commented on #37
It looks like we won't be using the `*_file` options, so closing this.

[2020-06-25 01:08] #37 closed

[2020-06-25 15:14] mwasilew commented on #56
@chaws restored the database to a new VM and upgraded the verison. This has surprising effect on performance:
https://testing-qa-reports.ctt.linaro.org/_/comparetest/?project=34&project=22&project=6&project=58&project=135&project=40&project=23&project=232&project=310&suite=ltp-syscalls-tests&test=syslog07

[2020-06-26 18:26] chaws commented on #56
@mwasilew I think we can make this page much quicker if we used SuiteMetadata id to fetch wanted tests. The slow part of the current implementation is due to not knowing in which TestRun the wanted test is. So we either join test-testrun-build or get all testrun ids to filter tests. Both of these are slow. The latter can be improved by passing small batches of testrun ids. Problem is there's still

[2020-07-01 10:04] mwasilew opened #61 "Include benchmark graphs in reporting"
Once squad ticket https://github.com/Linaro/squad/issues/775 is implemented, the client should be able to access the graph so it can be saved locally and included in the report.

[2020-07-17 19:26] jscook2345 opened #62 "Easy way to get the squad URL for a build?"
Currently I'm building a squad URL in my code, but I wondered if there was an easier way to get this?

If not, where do you think would be a good place for this? Data in squad or something in squad-client?

ex:

[code]

[2020-07-24 17:21] chaws commented on #62
Hey Justin,

You mean url for UI right? I guess this could go to squad-client. I think it could be a method of each object that when called, it would return the url you're asking for. Let me give it a try

[2020-07-25 22:05] jscook2345 commented on #62
Correct, this link would go to the UI. It would be good for some of our reports to link back to squad or lava if the user would like to deep dive on issues.

[2020-07-27 14:57] chaws commented on #19
Test if this is still happening with new deploy

[2020-07-27 16:58] chaws commented on #19
Tested it a couple of times and the issue seems to be gone

[2020-07-27 17:02] #19 closed

[2020-07-28 14:13] danrue commented on #56
I clicked on the first link in this issue and it still does not work. Does it work for you @chaws ?

![image](https://user-images.githubusercontent.com/409011/88677159-8e659700-d0b2-11ea-819f-8d9cdce44d15.png)

[2020-07-29 20:50] chaws commented on #45
hey @amrohassaan , the issue was closed I guess this could be passed to client as well

[2020-07-29 22:16] chaws commented on #56
hum... it's intermittent for me. I'll have another look at the queries

[2020-07-29 22:27] amrohassaan commented on #45
@chaws yes, this was added to shortcuts already..i will close it.

[2020-07-29 22:27] #45 closed

[2020-08-14 05:40] jscook2345 opened #65 "Extract squad test environment to shared project?"
I think it would be useful if my project could spin up a `squad` test environment in CI similar to how you do for testing `squad-client`.

Does it make sense to have a shared project that we could both make use of? Or perhaps I could make use of what's in `squad-client` now?

What do you think?

[2020-08-14 08:42] mwasilew commented on #65
@jscook2345 do you mean for testing your code itself?

[2020-08-17 13:56] jscook2345 commented on #65
@mwasilew Yes.

[2020-09-01 18:35] chaws commented on #56
Ok, after @stevanradakovic 's change to query planner settings, we're not seeing timeouts consistently. I'll keep an eye in qa-reports and will report back here

[2020-09-02 17:30] chaws opened #66 "make create_or_update_project check whether new data is being passed"
this would avoid extra requests to api server if the project already has all attributes unchanged.

[2020-09-08 17:42] chaws commented on #56
It's been a week that is not timing out anymore, consistently .

@danrue please re-open this ticket if you experience time outs again.

[2020-09-08 17:42] #56 closed

[2020-09-25 17:36] jscook2345 opened #67 "How to define a suite when manually submitting tests?"
I'm not able to see how to define a suite when submitting tests either via the command `squad-client submit ...` or using the api calls in `shortcuts.py` or `models.py#TestRun`.

How would I go about doing that?

[2020-09-25 17:47] jscook2345 commented on #67
for the `result-name` argument, for example, would I just put `suite/test_name`?

[2020-09-25 18:02] jscook2345 opened #68 "If a suite is not given, `/` is shown as the suite name."
example:

https://qa-reports.linaro.org/~justin.cook/mirror-linux-next-master-sanity/build/next-20200924/?results_layout=table&failures_only=false#!#test-results

Not sure if this is a `squad` or `squad-client` issue. So let's start here!

I ran the following command:
[code]

If you go to the above example URL, you will see the suite name for this test result is `/` (forward slash). This probably

[2020-09-25 18:03] jscook2345 commented on #68
I also found that this causes some other problems. Here is a broken URL for example:

https://qa-reports.linaro.org/~justin.cook/mirror-linux-next-master-sanity/build/next-20200924/testrun/3234193/suite/$/test/build-x86-gcc/history/

Note the `$` in there for the suite name.

[2020-09-25 18:05] jscook2345 commented on #67
see also / related / maybe duplicate: https://github.com/Linaro/squad-client/issues/68

[2020-09-28 10:13] mwasilew commented on #68
With the current implementation missing (or empty) suite name is valid. The $ in URL is the UI feature. Maybe we should not allow empty suite at all? If this causes problems disabling empty suite is the easiest solution and should be done in squad (not client).

[2020-09-29 12:50] mwasilew commented on #67
@jscook2345 you're correct, what the code does:
[code]
so when you use suite_name/test_name as parameter for --result-name this will do the job.

[2020-09-30 15:47] jscook2345 opened #70 "squad-client submit failure output should be text"
See here.

https://gitlab.com/Linaro/lkft/users/justin.cook/mirror-linux-next/-/jobs/765847493

in this case, `squad-client` outputs a bunch of HTML as an error, which is not very useful in a cli environment. Can we convert this to text or something else more readable (json) than raw html?

[2020-10-01 08:55] mwasilew commented on #70
For clarity the command line was:
[code]

[2020-10-01 13:21] #67 closed

[2020-10-08 15:01] jscook2345 opened #71 "allow squad-client submit sub-command to use tuxbuild json output for results file"
@danrue and I were discussing where best to put this feature, and we think `squad-client` would be the best spot.

It would be nice if we could accept `tuxbuild` json output with the `squad-client submit` sub-command.

ex:

https://linaro.gitlab.io/-/lkft/mirrors/next/linux-next/-/jobs/779702149/artifacts/build.json

We would need to generate a name based on the fields of each result, as well as d

[2020-10-08 15:05] jscook2345 commented on #71
If we just converted the file, the results would end up looking something like this:

[code]

Where the hash is the hash is generated using the following:

[code]

We use the first config in the name of the build and then we hash the remainder.

[2020-10-08 15:07] jscook2345 commented on #71
cc @mrchapp

[2020-10-09 08:49] mwasilew commented on #71
@jscook2345 I think there is one major flaw in your idea. IIUC gcc-8, gcc-9, etc are meant for different SQUAD environments. Am I correct? Apart from that it looks pretty easy to do.

[2020-10-09 08:50] mwasilew commented on #71
ah, one more thing. If you add hash to test name, there is no way to detect regressions. I guess hash should go into build version rather than test name.

[2020-10-09 14:19] jscook2345 commented on #71
@mwasilew

We currently are not using the compiler version for environments. You can see here how we have defined our environments:

https://qa-reports.linaro.org/lkft/linux-next-master/build/next-20201006/?results_layout=table#!#test-results

[2020-10-09 14:29] mwasilew commented on #71
ah, ok. So each entry corresponds to a build in an environment. Than it looks OK to me.

[2020-10-13 20:57] jscook2345 opened #72 "discuss how best to get resources from squad using a command"
We're trying to push back some functionality from scripts to `squad-client`. I'm trying to determine the best way to do this. This mainly revolves around getting the latest builds and their data.

In all three options we would want the ability to:
- Get the data for the latest X builds
- Get the data for a list of X builds

Three options:

## 1 Create a new program (`squad-list`) that is only resp

[2020-10-13 21:00] jscook2345 commented on #72
cc: @mrchapp @danrue @chaws

[2020-10-13 21:02] jscook2345 commented on #71
@chaws

How do you want to add this functionality? As a new sub-command? As an addition to the `submit` sub-command? What do you think?

[2020-10-14 18:54] chaws commented on #71
@jscook2345 I can add it as a new sub-command specifically for tuxbuild format.

Just so I get this clear, in the your example (https://linaro.gitlab.io/-/lkft/mirrors/next/linux-next/-/jobs/779702149/artifacts/build.json), I get a build like this:

[code]

Is this the expected result name?

[code]

Considering `"build/{target_arch}-{toolchain}-{kconfig[0]}-{git_sha}": "{build_status}"`

[2020-10-14 22:40] chaws commented on #72
Let me work something up and i'll show you tomorrow, I'm thinking something like `squad-client list <endpoint> [--filter1 value1 [--filter2 value2]]`.

Where `<endpoint>` can be one of "builds, projects, testjobs", etc, and `filter1` are filters used in the api, e.g. `squad-client list builds --project lkft/linux-next-master --version next-20201013`

What do you think @jscook2345 ?

[2020-10-15 11:31] chaws opened #73 "Update metric model"
When this (https://github.com/Linaro/squad/pull/857) get merged, metrics will have a new field called "unit", we should upgrade squad-client accordingly.

[2020-10-15 17:29] jscook2345 commented on #71
@chaws

`git_sha` is actually not used here.

Instead, we would use a hash of `kconfig[1:]`, ie, a hash of all remaining `kconfig` items minus the first one.

You could generate it with something like the following:

[code]

But I think we should use a smaller value for `hexdigest`.

I'm happy to implement this myself, just asking where you'd like it to go.

[2020-10-15 17:30] jscook2345 commented on #72
@chaws

That sounds good to me.

[2020-10-15 19:59] chaws commented on #71
@jscook2345 sure, go ahead!

I think it's OK to be part of `squad-client submit`, perhaps a new flag could be added e.g. `--format=tuxbuild`

[2020-10-21 20:39] jscook2345 opened #74 "move flake8 testing to travis ci"
I'd like to move the flake8 testing done under `tests/test_code_quality.py` to a more robust ci solution in travis. Is that something you'd be interested in? We could use tox, pre-commit, or just matrix testing in travis.

I'd mainly like to avoid running `flake8` every time I run the system tests.

[2020-10-22 09:07] mwasilew commented on #74
@jscook2345 could you give some justification? I really don't see any reasons to skip static analysis when testing.

[2020-10-22 20:09] jscook2345 commented on #74
@mwasilew

I don't want to skip analysis, but rather push it back in the development cycle.

Ideally, tests should be fast so that they can be run continuously as you develop features or fixes. Static analysis is slow and it tests all files, not just files that have changed.

I think static analysis is best done as a pre-commit hook or done as a part of CI in travis.

What do you think?

[2020-10-22 20:44] mwasilew commented on #74
It is part of travis job. This is where my confusion comes from. As I understand this ticket you want to remove it.

[2020-10-23 15:02] jscook2345 commented on #74
I want it to only run in Travis. Not when I run the tests on my local machine. Does that make more sense?

[2020-10-23 15:07] mwasilew commented on #74
Yeah, just send the patch. This should be easy to do.

[2020-10-23 16:18] jscook2345 opened #75 "traceback when running tests"
I installed `squad` from git master so it would include https://github.com/Linaro/squad/pull/881. After successfully installing that and the other items from `requirements-dev.txt`, I get the following traceback when I try to run the tests. It does not seem related to the work I'm doing.

[code]

[2020-10-23 16:19] jscook2345 opened #76 "missing dependencies for running tests on macos"
The following dependencies were required for me to run tests on `macos`:
* gnu tar (gnu-tar in homebrew)
* wget
* sha1sum (coreutils in homebrew)

They seem to be tied to running the `squad` instance, but I did not see them listed in any documentation.

[2020-10-23 17:01] mwasilew commented on #75
This might be an issue with fixtures that are outdated. @chaws could you take a look?

[2020-10-23 17:02] mwasilew commented on #76
Is this squad or squad-client?

[2020-10-23 17:34] chaws commented on #75
@mwasilew @jscook2345 they were outdated as well!

I opened this PR, and hoping to get a new one (for https://github.com/Linaro/squad-client/issues/72) in later today or early monday so I can make a new release

[2020-10-23 17:37] chaws commented on #70
@jscook2345 squad's change have been merged and released! I'm closing this issue for now. I think I got all api cases to display a json like `{"detail": "failure reason"}` on squad-client api errors. Please re-open if you find anything else.

Thanks for reporting!

[2020-10-23 17:37] #70 closed

[2020-10-23 18:34] jscook2345 commented on #76
It should be `squad`, but if you try to test `squad-client` it will come up as well.

[2020-10-23 18:36] jscook2345 commented on #70
@chaws Thanks! Looks great.

[2020-10-23 18:48] #75 closed

[2020-10-26 21:45] jscook2345 opened #80 "test class filter: name is actually short_name"
Something that caught me today:

[code]

does not filter by `name`, but rather by `short_name`. This was confusing to me. Once I removed the `suite` part of the name the search worked OK.

example that works:
[code]

example that fails:
[code]

The failure returns `None`. I did verify that it was adding the `suite` and that the `name` field in `squad` was `build/x86-gcc-9-defconfig-b9979cfa`.

[2020-10-29 12:35] chaws commented on #80
@jscook2345 you're correct!

Thing is that in Test model there are two attributes `name` and `full_name`, but in the API `name` refers to suite+test name and `short_name` points to test name only. I don't know why it was like that :/, legacy code. So filtering by `"suite/test"` is actually not possible, if you want to filter by suite slug then you should do `test = first(self.squad.tests(suite__sl

[2020-10-29 12:36] chaws commented on #76
Maybe we should add a section for MacOS installs?

[2020-10-29 12:55] mwasilew commented on #76
I would try to reproduce it in docker container. It should fail equally. If it doesn't it's Mac thing and I won't worry about it. We have too few people to cover all OSes. We also don't test on Windows. Sorry.

[2020-10-29 15:45] jscook2345 commented on #76
Perhaps we could change the squad deployment to use docker for testing squad-client? That would fix a lot of the problems.

[2020-10-29 15:52] jscook2345 commented on #80
I think knowing how to do the filtering for both suite and test helps. Thanks @chaws !

[2020-10-29 15:52] #80 closed

[2020-10-30 14:10] jscook2345 opened #82 "do not show the hash for the empty kconfig array"
Currently we generate the hash from the remaining configs used after the first one.

[code]

If that `kconfig[1:]` is empty, we should instead show nothing instead of a hash of the empty array.

[2020-10-30 14:52] jscook2345 commented on #82
Leave this one for me, please! Ty!

[2020-10-30 20:10] jscook2345 opened #84 "add version command"
`squad-client --version` and `squad-client version` should be reasonable for this. Not sure what version info is important. The client version and maybe the version of `squad` that is supported?

[2020-11-03 13:47] #82 closed

[2020-11-03 13:50] chaws commented on #84
I like the idea of displaying SQUAD versions that squad-client supports.

[2020-11-18 18:38] jscook2345 opened #85 "Remove the arch from the test name when using tuxbuild json"
We decided that the test name should not include the arch / environment used. Let's remove that and fix the tests.

[2020-11-18 20:05] #85 closed

[2020-11-18 21:25] jscook2345 opened #87 "Move tuxbuild json submission to it's own command"
More changes with tuxbuild json submission ;)

Some of the options for submit do not make sense for submission of tuxbuild json, so I think it should move to it's own command.

[2020-11-18 21:26] jscook2345 opened #88 "Add metadata when submitting tuxbuild json"

[2020-11-19 18:55] jscook2345 commented on #87
After discussion with @chaws we agreed on a new command `submit-tuxbuild` that we can use.

This isn't as high priority because my group won't hit the bug with the current submit functionality, but it still is an issue.

[2020-11-20 18:25] jscook2345 opened #90 "Please fully document the squad api and the filters"
If we can better understand the squad api and the filters available we can more easily query large amounts of resources using command-line programs instead of writing lots little `squad-client` based scripts.

[2020-11-20 18:37] jscook2345 commented on #90
cc: @amrohassaan

This is from our discussion earlier in our Google Hang Out.

I think we can avoid creating a new command in `squad-client` if we can better understand how to query the api with other tools like `curl`. This would allow us to not have to write a lot of one-off scripts to complete CI tasks within our pipelines.

[2020-11-20 18:38] jscook2345 commented on #72
A lot has changed since I posted this and honestly a lot of it is confusing even to me having re-read it. I chatted with @amrohassaan in a google hang out and we decided on a smaller step first. Please see:

https://github.com/Linaro/squad-client/issues/90

Thanks!

[2020-11-20 18:38] #72 closed

[2020-11-20 18:48] amrohassaan commented on #90
@jscook2345 thank you for creating this one issue and clarifying on #72 .
I've started rewriting the squad docs last week and it will be an incremental ongoing progress.
The pr is https://github.com/Linaro/squad/pull/905
I think we probably will need to have dedicated section for filtering under the 'api' item.

[2020-11-20 19:03] amrohassaan commented on #72
@chaws, I guess what Justin was asking for is enabling a filtering criteria from the command line rather than filtering squad objects to return specific fields for queried resource. For example:
curl  --header "Auth-Token: $SQUAD_TOKEN" \
https://qa-reports.linaro.org/api/builds/xxxx/status/?finished=true&notified=true
OR
https://qa-reports.linaro.org/api/builds/?created_at__lt=2020-11-20T18:07:48

[2020-11-20 21:09] jscook2345 opened #91 "Grouping of results in squad is different when using squad-client to submit results"
This issue was raised by @roxell and I'm reporting it. It may be a `squad` issue, but the issue is because of how `squad-client` submits the data.

Each time we call `squad-client submit ...` a new `testrun` is created, which ends up looking like separate items in `squad`.

See here for an example:

https://qa-reports.linaro.org/~justin.cook/mirror-linux-next-master/build/next-20201120/?failures_o

[2020-11-20 21:12] jscook2345 commented on #88
@roxell raised the following issue about the build summary when metadata is added.

The metadata in the build summary is a bit confusing because of how it is listed. It's not organized by each test case, where it does make more sense.

Incomplete example:

https://qa-reports.linaro.org/~anders.roxell/lkft-linux-next-master/build/next-20201120/?failures_only=false#!#test-results

[2020-11-23 00:39] amrohassaan commented on #72
After re-reading this ticket, I think @chaws proposal above is actually needed in the client as well! and we can add to each SQUAD endpoint docs the list of its filterable attrs.

[2020-11-23 09:15] mwasilew commented on #91
This is SQUAD feature. We discussed a better grouping in the build view but there is no conclusion yet. I guess the best way forward is to move this bug to SQUAD.

[2020-11-23 15:29] jscook2345 commented on #90
@amrohassaan

For an example, I am partial do what id being done here: https://metacpan.org/pod/Pithub::Repos

Note that it is has both the api variables, but also a code-based example. Perhaps good for testing as well as docs?

[2020-11-23 22:59] jscook2345 commented on #90
PS, I'm happy to help add the code examples after the API examples are pushed up. More than happy to help! Thanks again!

[2020-11-23 23:03] jscook2345 commented on #91
Per @mwasilew I moved this issue to: https://github.com/Linaro/squad/issues/912

[2020-11-23 23:03] #91 closed

[2020-12-03 20:55] jscook2345 opened #96 "Traceback in Project.compare_builds during pipeline execution"
[code]

See the pipeline here: https://gitlab.com/Linaro/lkft/reports/squad-report/-/jobs/889433815#L101

[2020-12-03 20:59] chaws opened #97 "Write `Build.tests()`"
When This gets merged https://github.com/Linaro/squad/pull/927, squad-client should have the same in the api.

[2020-12-03 21:43] jscook2345 commented on #97
Sounds great! Also, maybe duplicate of https://github.com/Linaro/squad-client/issues/5 ?

[2020-12-03 21:51] jscook2345 commented on #88
All of this metadata can be gotten from the `tuxbuild.json` file. I think it can be used similar to how we add results.

[2020-12-04 12:08] chaws commented on #97
Wow, how fast 9 months goes by! It's definitely a duplicate. I was too excited to open this issue here I forgot to check it there was one already. I'm planning on doing this after all data is filled up in prod, probably mid next week

[2020-12-04 12:39] chaws commented on #5
Closing this in favor of https://github.com/Linaro/squad-client/issues/97

[2020-12-04 12:39] #5 closed

[2020-12-04 12:43] chaws commented on #88
The build metadata is a merge of all testruns' metadata: https://github.com/Linaro/squad/blob/1.30/squad/core/models.py#L411. IMHO I think it's OK to be like that so all necessary info will be the first thing to see when going to a build page.

[2020-12-04 12:59] chaws commented on #96
I think squad-client got a malformed json from the server. This is probably due to timeout or something else. I can make `Project.compare_builds` handle malformed json, but the real fix would be in squad. Do you happen to know which builds were used? I couldn't figure it out by looking it here https://gitlab.com/Linaro/lkft/reports/squad-report/-/blob/master/build_report.py

[2020-12-04 15:04] jscook2345 commented on #96
[code]

[2020-12-04 15:43] jscook2345 opened #99 "new directory `storage` created when running test suite, not cleaned-up"
After running the test suite, I noticed that a new directory (`storage`) is created and not cleaned-up.

Contents of `storage`:
[code]

[2020-12-04 16:01] mwasilew commented on #99
These come from squad. Are you referring to client unit tests?

[2020-12-04 16:08] jscook2345 commented on #99
Yes, I think so. I run the `manage.py` command that's in the `.travis.yml` file to test everything.

[2020-12-04 16:09] jscook2345 commented on #88
@chaws Sounds good. We just need to make sure we extract some metadata from the `tuxbuild.json` file as well.

[2020-12-07 17:11] jscook2345 opened #100 "pip shows deprecation notice when installing squad client from git"
I installed a copy of `squad-client` using the following command and noted the following deprecation notice.

Installation:
[code]

Notice:
[code]

This was because the `wheel` for `squad-client` could not be built:
[code]

[2020-12-18 16:22] chaws commented on #99
Argh, that's from squad indeed. I'll send a PR to remove those after tests are run.

[2020-12-18 18:32] chaws commented on #97
Closed in https://github.com/Linaro/squad-client/pull/98

[2020-12-18 18:32] #97 closed

[2020-12-18 18:43] chaws commented on #100
Yeah, this is expected because [`setup.py`](https://github.com/Linaro/squad-client/blob/0.10.1/setup.py#L21) checks for `SQUAD_CLIENT_RELEASE` to prevent releases not made with `./script/release`. In your case you can just define it before running install.

[2020-12-18 18:43] #100 closed

[2020-12-18 19:42] chaws commented on #96
@jscook2345 sorry for delay!

I re-run the same comparison and got no error. It was probably due to a timeout. I managed to make this comparison a lot quicker. It'll be available when this https://github.com/Linaro/squad/pull/946 gets merged.

I'm closing this issue for now, but please re-open if the issue persists.

[2020-12-18 19:42] #96 closed

[2020-12-18 19:43] chaws commented on #99
Fixed in https://github.com/Linaro/squad-client/commit/cc8c3d9478480f14355b724eb021266e0647b1e4

[2020-12-18 19:43] #99 closed

[2020-12-18 19:45] #87 closed

[2020-12-18 19:50] chaws commented on #22
Closing this in favor of https://github.com/Linaro/squad-client/issues/90

[2020-12-18 19:50] #22 closed

[2020-12-18 19:55] chaws commented on #73
Added in https://github.com/Linaro/squad-client/commit/4d71f9b1683d860075a52ac943414238d38b2b73

[2020-12-18 19:55] #73 closed

[2020-12-18 20:03] chaws commented on #74
Hey @jscook2345, I don't know if you were aware of that yet (probably you are), but you can run your specific tests by

[code]

It would still be a little slow because squad needs to be up and running before running squad-client tests.

Also flask8 takes a bit over 1s to execute

[code]

I'm closing this one (doing an issue cleanup), but please re-open if you have a patch that moves this to travis

[2020-12-18 20:03] #74 closed

[2021-01-06 22:06] jscook2345 opened #104 "memoization (function caching) in squad-client has inconsistent state when using filters"
https://en.wikipedia.org/wiki/Memoization

A lot of fetching functions in `squad-client` look similar to the following:

[code]

This type of `function caching` is called `memoization` and can be useful when returning the same values over and over (ie, fibonacci). However, I've found a case where this is not working correctly because I'm using filters and the memoization value is not cached agains

[2021-01-07 10:44] chaws commented on #104
I think first thing google would tell me is "_Did you mean **memorization**?_"

Yeah, this is clearly a bug if you want to change filters. I'll work on this today

[2021-01-08 02:07] jscook2345 opened #106 "does it make sense to remove uuid on object fetch?"
I find that I am constantly unpacking collections of objects by using the `.values()` argument. This is because the requests come back with a `uuid` for the object. I'm thinking maybe that is not all that useful after a few months now. What do you think? I know adding `values()` is not a huge deal, but since we *always* use it that way, perhaps we should remove it at the source?

Just a few exampl

[2021-01-08 03:35] amrohassaan commented on #106
I do remember that in very early prototypes of squad client, we experimented with returning a list of objects but then we found it would be slightly challenging to retrieve a single object without iterating/slicing the list in case the client was used in shell and then we decided to make it a dict. @chaws probably remembers this case.

[2021-01-08 10:32] chaws commented on #106
Hum I thought you suggested that @amrohassaan :p

I agree with @jscook2345 , we tend to always use `.values()`. On the other hand I wouldn't make it just a flat list.

It's been a while I kept this tab open (https://github.com/Linaro/lkft-tools/blob/1129f9399e801439833cf2a36a944471e175f147/lib/lkft_squad_client.py#L110) and I think we can make this available to all models.

What do you guys think?

[2021-01-08 14:57] amrohassaan commented on #106
@chaws yes i have seen this before..it is a good idea to yield on demand.

[2021-01-08 17:09] jscook2345 commented on #106
@chaws

I think that would be good as well. Lazy loading imo is almost always a good thing ;)

[2021-01-13 22:16] chaws opened #107 "ordering="slug" does not work for tests.short_name"
Extracted from https://github.com/Linaro/squad/issues/952

From my discussion with @chaws

[code]
does not appear to be working for the ordering component. it appears to be ordering by `id`.

Is this the issue? https://github.com/Linaro/squad/blob/9472d5e337a38488d1fb44c986deec7e8a54d6e7/squad/api/rest.py#L1161 only the `id` is there and thus can't be filtered on other things?

[2021-01-13 22:17] chaws commented on #107
From squad:

[2021-01-14 01:12] jscook2345 commented on #107
I gave @chaws some of my sorting snippets and he may include them in the library.

[2021-01-14 02:46] jscook2345 opened #108 "compare_builds returns message instead of variable for an unfinished build"
`compare_builds` is expected to return a `dict`, however when one of the builds is not finished, you get the following:

```['Cannot report regressions/fixes on a non-finished builds']```

I'm not sure this is correct behavior. Perhaps it should return something else (none?) and `squad-client` can throw an exception letting me know that it cannot work on unfinished builds

[2021-01-14 03:20] amrohassaan commented on #108
@jscook2345 but how to show the error to those looking at the UI? Maybe we can add something to client to test if build.finished==true before calling executing the actual compare, then throwing the error if not.

[2021-02-04 21:30] jscook2345 opened #111 "SquadApi.configure always requests a url that is 301"
Should we query`/api/schema/` instead of `/api/schema` so we avoid the `301` each time?

Here is the debug information:
[code]

[2021-02-12 16:32] jscook2345 opened #112 "Rename ApiException SquadApiException"
https://github.com/Linaro/squad-client/blob/3cfce2dffaf767f57a66d15655154d021f79e121/squad_client/core/api.py#L39

I think the current name is a little too general and could conflict with other libraries. Better to play it safe and specialize the name.

[2021-02-12 19:57] jscook2345 commented on #62
This is what I've been using in our code to replicate this:

[code]

[2021-03-05 20:00] #104 closed

[2021-04-14 09:30] #84 closed

[2021-05-25 11:47] chaws commented on #111
I've removed this `/schema/` request a few commits ago https://github.com/Linaro/squad-client/commit/a923951472ea477fe8b9999ba6a10c0c6e13d773

It wasn't being used anywhere

[2021-05-25 11:47] #111 closed

[2021-06-06 01:53] chaws opened #114 "Improve caching"
I guess caching can be improved when fetching tests.

Builds.status have a last modified field, so all tests queried for a build could be saved locally, being named using all filters used to query such data

[2021-08-03 13:51] jscook2345 opened #117 "better debugging on json errors"
We had a one-time error in our pipeline due to json parsing failed.

https://gitlab.com/Linaro/lkft/mirrors/stable/linux-stable-rc/-/jobs/1455303209

It may be useful if the error provided a bit more context or showed the json that failed to be parsed.

[2021-08-24 05:02] jscook2345 opened #118 "fix squad error in squad-client test"
[code]

The error in question is output from `squad` when this test is run. Perhaps `squad` should be logging these errors or we should try and capture them in the test and output them as a failure?

[2021-08-27 15:47] jscook2345 opened #120 "improve metadata filtering in submit-tuxbuild"
@chaws had a few good suggestions for better handling metadata filtering in the `submit-tuxbuild` command.

We need filtering on the data since some of the data in `build.json` should not be included in `squad` for various reasons, such as privacy, redundancy, etc.

Suggestion: Use the `important_metadata_keys` from `squad` instead of hard-coding them.
[code]

Suggestion: Add an option (with a goo

[2021-10-05 06:25] jscook2345 opened #124 "pin dependencies"
We need to pin the dependencies of `squad-client` where we can.

[2021-11-17 17:15] chaws opened #130 "Fix doc generation in Github actions"
Tests are crashing in Actions: https://github.com/Linaro/squad-client/runs/4241273565?check_suite_focus=true#step:5:65

Here's a possible fix: https://github.com/mkdocs/mkdocs/issues/2469

[2021-11-18 06:41] jscook2345 commented on #130
While trying to fix the problem, I found that one of the dependencies is the problem:

[code]

This is causing the wrong version of `importlib-metadata` to be installed.

See here: https://github.com/zostera/django-bootstrap3/issues/608

I don't think this can be fixed until the dependency fixes their `setup.py`.

[2021-11-18 11:36] chaws commented on #130
Hum, have you tried downgrading django-bootstrap?
Some weird thing is that I created a whole new venv but still wasn't able to reproduce this crash. Maybe that's because I'm trying on Python 3.8? I'll give it a shot at 3.6 later today

[2021-11-18 14:35] chaws commented on #130
This error is affecting squad as well: https://github.com/Linaro/squad/runs/4252551492?check_suite_focus=true

It seems Django is not configuring jinja, and i think we should try to figure that out before

[2021-11-18 14:58] jscook2345 commented on #130
Yes, this is a `squad` regression, which is why it affects the unit tests in `squad-client`.

The important line is here:

[code]

This means that for python's less than 3.8, use an older `importlib-metadata`. This is why it does not fail for your 3.8 test, but fails in CI for 3.6, 3.7.

This isn't an official `django` package, and there is an issue open against it, but I don't know what the resol

[2021-11-24 14:02] chaws commented on #130
This was fixed in SQUAD: https://github.com/Linaro/squad/commit/0a87231069a4a0fc8e75ad7d45f18a86b32859d1

It'll fix squad-client on next SQUAD release

[2021-11-24 14:02] #130 closed

[2021-11-30 20:55] jscook2345 opened #134 "Docker container fails to build with latest release of alpine"
`wkhtmltopdf` was removed with the latest release of alpine and is affecting our docker builds.

https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.15.0#Significant_removals

I found this when @roxell submitted #133 and there were errors building the container.

What is `wkhtmltopdf` used for in `squad-client`?

[2021-11-30 21:10] #134 closed

[2021-12-06 19:16] jscook2345 opened #138 "add url to squad resource when submitting a job"
[code]

This is the current output when you submit a job using `squad-client submit ...`

I think it would be useful if the command also output the link to the resource in `squad` itself, not just the api endpoint it is posting to.

What do you think?

[2021-12-06 19:17] jscook2345 commented on #138
By URL, I mean something like the following:

https://qa-reports.linaro.org/lkft/linux-next-master-sanity/build/next-20211206/

[2021-12-06 19:59] chaws commented on #138
Just an FYI: It would create a few extra API queries though.

But I like the idea, is informative.

[2022-02-16 15:41] jscook2345 opened #150 "timeouts in ci process when running unit tests"
There is a 10 second timeout that is occurring when running the squad service migration during testing in CI. We should adjust that timeout to be a little bit longer so we do not have to re-run the ci jobs a number of times to get it to work.

[2022-07-11 19:45] chaws opened #160 "Retry failed API calls"
Occasionally, squad-client would make API calls to SQUAD and they'll fail. These might generate side effects on tools relying on squad-client, for instance, check the error below:

[code]

Here, the `test.metadata` attribute didn't get fetched from the API, thus causing the crash. When re-running this script another time, it worked without any errors.